@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// page load animation

.hero-text,
.hero-illustration,
.main-second {
  animation: fade 1s ease both;
}

.hero-text {
  animation-delay: 0.2s;
}

.hero-illustration {
  animation-delay: 0.4s;
}

.main-second {
  animation-delay: 0.6s;
}
