button {
  font-family: $body-font;
  font-size: 0.875rem;
  line-height: 1.2;

  display: inline-block;
  padding: 1rem 4.5rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: $orange;
  transition: 0.2s ease;
  width: auto;

  @media (max-width: $small) {
    padding: 0.8rem 2.5rem;
  }
}

.book-details {
  padding: 1rem 3rem;
  @media (max-width: $large) {
    padding: 0.8rem 2rem;
    font-size: 0.8rem;
  }
}

button:hover {
  background-color: $brown;
  transform: translate(-1px, -4px);
}

// button.secondary-button {
//   background-color: $grey3;
//   margin-right: 0.5rem;
// }

// button.secondary-button:hover {
//   background-color: $grey4;
// }

.book-button-wrapper {
  a {
    margin-right: 0.5rem;
  }
  button {
    font-size: 14px;
    padding: 1rem 2.4rem;
  }

  @media (max-width: 1050px) {
    a button.secondary-button {
      width: 240px;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: $medium) {
    // padding: 0 4rem;
  }

  @media (max-width: $small) {
    button {
      margin: 0;
      width: auto;
      margin-bottom: 1rem;
    }
  }
}
