section.main-hero {
  background-color: $lightblue;
  display: flex;
  padding: 6rem 0 8rem 0;
  margin: 0;
  @media (max-width: 1310px) {
    padding: 0 0 4rem 0;
  }
  @media (max-width: $medium) {
    .max-width {
      flex-direction: column-reverse;
    }
    p {
      width: 90%;
    }
    button {
      width: 50%;
    }
  }
  @media (max-width: $small) {
    flex-direction: column-reverse;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    .hero-text a {
      width: 80%;
      button {
        width: 100%;
      }
    }
  }
}

.hero-text,
.hero-illustration {
  width: 50vw;
  @media (max-width: $medium) {
    width: 100%;
  }
}

.hero-text {
  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.5rem;
    line-height: 1.8;
  }
  @media (max-width: $medium) {
    h1,
    p {
      margin-right: auto;
      margin-left: auto;
    }
    p {
      font-size: 14px;
    }
  }
  @media (max-width: $small) {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin-right: auto;
      margin-left: auto;
      width: 60%;
    }
    p {
      margin-right: auto;
      margin-left: auto;
      padding: 0;
    }
  }
}

// media query

@media (max-width: $medium) {
  .hero-text {
    text-align: center;
  }
  .hero-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .home {
    h1 {
      width: 90%;
    }
    button {
      width: 80%;
    }
    .secondary-button {
      margin-bottom: 0.8rem;
    }
  }
}

@media (max-width: $small) {
  .hero-text,
  .hero-illustration {
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    button {
      width: 50%;
    }
  }
  .home button {
    width: 100%;
  }
  .hero-text br {
    display: block;
  }
}
