header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: $lightblue;
  nav {
    display: flex;
    align-self: center;
    padding-bottom: 1rem;
  }
  @media (max-width: 1310px) {
    padding: 0;
  }
}

div.logo {
  display: flex;
}

.logo a {
  margin-right: 4rem;
}

.form-link-button {
  margin-right: 0 !important;
}

.desktop-header {
  @media (max-width: $medium) {
    display: none;
  }
}

header.mobile-header {
  display: none;

  @media (max-width: $medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    .mobile-header-logo {
      z-index: 20;
    }
    .menu-toggle {
      cursor: pointer;
      z-index: 10;
      font-size: 1rem;
      transition: color 0.2s ease;
    }
    img {
      max-height: 2.4rem;
    }
  }
}

.mobile-menu {
  height: 100vh;
  top: 0;
  position: fixed;
  left: 0;
  background-color: $lightblue;
  color: #fff;
  width: 100%;
  z-index: 5;

  transform: translateX(100%);
  transition: transform 0.5s ease;

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    a {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      @media (max-width: $small) {
        margin-bottom: 3rem;
      }
    }
  }
}

// menu animation
.open {
  transform: translateX(0);
}

// navigation animation
nav a {
  opacity: 1;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.4;
  }
}
