// OKR 강의
section.consulting,
section.classes {
  p.class-time-info {
    font-size: 10px;
    border: 1px solid #ccc;
    padding: 0.6rem;
    width: 80px;
    text-align: center;
    border-radius: 8px;
    margin-top: 1rem;
  }
  div.individual-class {
    padding: 2rem;
    background-color: #f6f8fc;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  ul {
    width: 65%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  li {
    margin-bottom: 1rem;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
  .list-heading {
    font-weight: bold;
  }

  .text-wrapper h6 {
    margin-bottom: 1rem;
  }

  p.time-info {
    font-size: 12px;
    color: $grey4;
    opacity: 0.7;
  }
}

@media (max-width: $medium) {
  section.consulting,
  section.classes {
    flex-direction: column;
    align-items: center;
    text-align: left;
    h3 {
      text-align: center;
    }
    p.class-time-info {
      margin: 1rem auto 2rem auto;
    }
    .individual-class {
      flex-direction: column;
      h6 {
        margin-bottom: 1rem;
      }
      br {
        display: block;
      }
    }
    ul {
      width: 100%;
    }
    li {
      line-height: 1.8;
      margin-bottom: 0.4rem;
    }
    li:last-of-type {
      margin-bottom: 0;
    }
  }

  .t\&c {
    display: none;
  }

  .time-info {
    display: none;
  }
}

.classes,
.consulting {
  li {
    list-style-type: disc;
  }
}

@media (max-width: $medium) {
  .classes,
  .consulting {
    ul {
      margin-left: 2rem !important;
    }
  }
}
