.slide {
  display: flex;
  margin-right: auto;
  margin-left: auto;

  div.slide-text-wrapper,
  div.slide-illustration {
    width: 50%;
  }

  .arrows {
    margin-bottom: 2rem;
    img {
      cursor: pointer;
    }
  }

  .slide-text {
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1.5rem;
    }
  }
  @media (max-width: $medium) {
    padding: 0 2rem;
    .slide-text h2 {
      font-size: 2rem;
    }
    .slide-text p {
      margin-right: auto;
      margin-left: auto;
    }
    div.slide-text-wrapper,
    div.slide-illustration {
      width: 100%;
    }
  }

  @media (max-width: $small) {
    align-items: center;
    flex-direction: column;

    button {
      padding: 0.8rem 4rem;
    }

    div.slide-text-wrapper {
      width: 100%;
    }
    .arrows {
      display: flex;
      justify-content: center;
      img {
        padding: 0.5rem;
      }
    }
    .slide-text {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}

// animation
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(10px, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeImage {
  0% {
    opacity: 0;
    transform: translate(20px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

video {
  width: 100% !important;
  height: auto !important;
}

img.prev,
img.next {
  opacity: 1;
  transition: all 0.2s ease;
}

@media (max-width: $medium) {
  img.prev {
    padding-right: 1rem;
  }
}

img.prev:hover,
img.next:hover {
  opacity: 0.4;
}

.hero-text br .slide br {
  display: block;
}

// set the height
section.slide {
  height: 80vh;
  margin: 8rem auto -6rem auto;
  @media (max-width: $medium) {
    height: auto;
    margin: 2rem auto;
  }
}

div.slide-illustration {
  img,
  video {
    max-height: 400px;
    @media (max-width: $medium) {
      margin-top: 2rem;
    }
  }
}

// slideshow indicating number
ul.slide-indicator {
  list-style: none;
  display: flex;
  max-width: 15%;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8rem;
  margin-top: -8rem;
  opacity: 1;
  li {
    width: 8px;
    height: 8px;
    background: $grey3;
    // border: 2px solid #333;
    border-radius: 50px;
    cursor: pointer;
  }
  .selected {
    background: $orange;
  }
  @media (max-width: $medium) {
    z-index: 20;
    margin: 0rem auto 4rem auto;
    padding: 0;
  }
}
